
       @import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');

       body { font-family: 'Merriweather'; }

       h1 { font-size: larger;}


body {
	color: rgb(55, 55, 55);
}
span {
	color: rgb(30, 255, 45);
	font-style: italic;
	font-weight: bold;
	font-size: 13px;
}

h2 { margin-left:100px ;}






/* Rectangle 30 */

::backdrop{
position: absolute;
width: 1182px;
height: 797px;
left: 0px;
top: 0px;

background: #EBCF9A;

}